<div data-role="view" data-title="Activity Report" id="ActivityReport" data-stretch="true" data-layout="main" data-model="ActivityReport.models.Location" data-show="ActivityReport.show" 
     data-hide="ActivityReport.hide" data-reload="true">
	<div> 
        <div class="HeaderDiv">
            <div style="float:left; width:50px; padding-top:6px;">
                Date:  
            </div>
            <div style="float:left; width:100px;">
                <input id="ActivityReportDatePicker" class="DatePickerInput" ></input>
            </div>
        	<div style="float:right; width:100px;">
                <button id="ARButton" onClick="ActivityReport.submit()"> Submit </button>
            </div>
        </div>
        <div class="ContentDiv">
            <div id="ActivityList" class="ActivityPane">
                <div style="float:left; width:100%;">
                    <div id="listViewAR"></div>
                </div>
                <script type="text/x-kendo-tmpl" id="listViewTemplateAR">
                     <div class="ActivityItemRow">
                       <p>#:Address#</p>
                       <i>#:kendo.toString(CreatedAt, "g")#</i> - <i>#:kendo.toString(EndTime, "g")#</i>
                       <div style="float:right">
                           <a class="k-button" href="\\#"><span class="km-icon km-pause"></span></a>
                       </div>
                       <hr/>
                     </div>
                 </script>
            </div>
            <div id="ActivityMapDiv" class="ActivityPane">
                <div id="ActivityMap"></div>
            </div>
        </div>

	</div>
</div>