<div data-role="view" data-title="Locations" id="Locations" data-stretch="true" data-layout="main" data-model="Locations.models.Locations" data-after-show="Locations.show" data-hide="Locations.hide" data-reload="true">
     <div class="HeaderDiv">
        <div class="DatePickerTitle">
            Date:  
        </div>
        <div class="DatePickerInputDiv">
            <input id="LocationDatePicker" class="DatePickerInput"></input>
        </div>
    </div>
    <div class="ContentDiv">
        <div id="LocationMap">
        </div>
    </div>
</div>
